---
openapi: 3.1.0
components:
  schemas:
    Account:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        email:
          type: string
        fullName:
          type: string
        isVerified:
          type: boolean
        createdAt:
          $ref: "#/components/schemas/Instant"
    AuthenticationRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
    AuthenticationResponse:
      type: object
      properties:
        token:
          type: string
        account:
          $ref: "#/components/schemas/Account"
    CreateAccountRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
        fullName:
          type: string
    Instant:
      type: string
      format: date-time
      examples:
      - 2022-03-10T16:15:50Z
    UUID:
      type: string
      format: uuid
      pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
  securitySchemes:
    SecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Authentication
paths:
  /api/account:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "400":
          description: Bad Request
      summary: Create
      tags:
      - Account Resource
  /api/auth:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthenticationRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationResponse"
        "400":
          description: Bad Request
      summary: Auth
      tags:
      - Authentication Resource
info:
  title: com.gdgguadalajara.open-badges-platform API
  version: 1.0.0-SNAPSHOT
servers:
- url: http://localhost:8080
  description: Auto generated value
- url: http://0.0.0.0:8080
  description: Auto generated value
